
:root {
  --color-primario: #30B7BE;
  --color-secundario: #E72D72;
  --color-auxiliar: #F9EBB9;
  --color-texto: #ffffff;
  --radio-borde: 6px;
  --sombra: 4px 4px 0 #000000;
  --fuente-principal: 'Poppins', sans-serif;
  --margin-card: 12px;
  --text: 1px 1px 1px black;

}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header{
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 6px black;
    box-sizing: border-box;
    padding: 15px 25px;
}


.img{
    width: 100%;
    height: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;    
}

.logo{
    width: 250px;
    height: auto;
    filter: drop-shadow(3px 3px 0 #000);
    align-self: center;
    justify-content: center;
    margin-bottom: var(--margin-card);
}

.back .logo{
  filter: brightness(0) invert(1) drop-shadow(3px 3px 0 #000);
}

/* ===== USER MENU ===== */
.user-menu {
  position: relative;
}

.user-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--color-secundario);
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: var(--fuente-principal);
  box-shadow: var(--sombra);
}

/* Dropdown */
.user-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  border-radius: var(--radio-borde);
  box-shadow: var(--sombra);
  display: none;
  flex-direction: column;
  min-width: 180px;
  overflow: hidden;
  z-index: 100;
}

.user-dropdown button {
  background: none;
  border: none;
  padding: 12px 16px;
  text-align: left;
  font-family: var(--fuente-principal);
  cursor: pointer;
}

.user-dropdown button:hover {
  background: #f5f5f5;
}

.user-dropdown .logout {
  color: #e11d48;
  font-weight: 600;
}




/*#############------juego opcion multiple--------##############*/



.game-container {
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.progress {
  text-align: center;
  font-weight: 600;
  color: #c6b98b;
  margin-bottom: 20px;
}

.mode.multiple-choice{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.game-content{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
    box-sizing: border-box;

}

.card.question-card{
    
    width: 100%;
    height: 300px;
    border: black 3px solid;
    border-radius: 8px;
    background-color: var(--color-primario);
    box-shadow: 5px 5px 0 #000;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.card.question-card p{

    color: white;

}

.options{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    color: white;
}

.options.column{

    display: flex;
    flex-direction: column;

}

.options.column.first{

    flex: 1;
    gap: 20px;
    align-items: start;

}

.options.column.second{

    flex: 1;
    gap: 20px;
    align-items: end;
}

.card.option-card{

    width: 90%;
    min-height: 80px;
    padding: 15px;
    border: black 3px solid;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px 0 #000;
    transition: transform 0.1s ease-in-out;
    background-color: var(--color-secundario);

}

.card.option-card:active {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 0 #000;
}




/*#############------juego memorizar--------##############*/

.contMemo{

    width: 100%;

}

.memorizar-content {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

/* CONTENEDOR QUE GIRA */
.memorizar-flip {
    position: relative;
    width: 100%;
    height: 400px;

    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    perspective: 1200px;
    cursor: pointer;
}

.memorizar-flip.flipped {
    transform: rotateY(180deg);
}

/* TARJETAS */
.memorizar-card {
    position: absolute;
    inset: 0;
    border: black 3px solid;
    box-shadow: 5px 5px 0 #000;
    border-radius: 8px;

    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FRENTE */
.memorizar-card.face {
    color: white;
    font-weight: bold;
    background-color: var(--color-primario);
}

/* ATRÁS */
.memorizar-card.back {
    background-color: var(--color-secundario);
    transform: rotateY(180deg);
    color: white;
    font-weight: bold;
}

/* MENÚ */
.memorizar-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.pista {
    position: absolute;
    top: 12px;
    left: 12px;

    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-auxiliar);
    text-shadow: 2px 2px 6px black;

    padding: 4px 8px;
    border-radius: 4px;
}


.memorizar-option{

    flex: 1;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: var(--color-secundario);
    border-radius: 8px;
    border: black 3px solid;
    box-shadow: 5px 5px 0 #000;
    color: white;
    font-weight: bold;

}

.memorizar-img{
    padding: 15px;
    background-color: var(--color-secundario);
    border-radius: 8px;
    border: black 3px solid;
    box-shadow: 5px 5px 0 #000;
    color: white;
    font-weight: bold;
}




/*#############------juego verdadero o falso--------##############*/




.mode-tor{

    width: 100%;

}

.tor-contenedor{

    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    border: black 3px solid;
    background-color: var(--color-primario);
    box-shadow: 5px 5px 0 #000;

}

.tor{

    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.sides-contenedor{

    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;

}

.side.left{

    flex: 1;
    padding: 15px;

}

.side.right{

    flex: 1;
    padding: 15px;


}

.divisor{

    width: 2px;
    background-color: rgba(255, 255, 255, 0.416);
}

.subtitulo{

    font-size: 16px;
    color: var(--color-auxiliar);
    text-shadow: var(--text);

}

.subtitulo.selecciona{

    font-size: 20px;
    padding: 15px;

}

.texto-tarjeta{

    color: white;
    text-shadow: var(--text);

}

.contenedor-respuestas{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;

}

.respuestas{
    height: 50px;
    width: 40%;
    background-color: var(--color-secundario);
    border-radius: 8px;
    border: black 3px solid;
    box-shadow: 5px 5px 0 #000;
    color: white;


}

.texto-tarjeta{

    justify-self: start;

}



/*#############------juego QUIZZ--------##############*/





.answer-mode {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.answer-card {
  width: 70%;
  max-width: 900px;
  background: var(--color-primario);
  border-radius: 20px;
  padding: 32px 36px;
  display: flex;
  flex-direction: column;
  border: black 3px solid;
  box-shadow: 5px 5px 0 #000;
  gap: 28px;
}

/* HEADER */
.answer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-title {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 600;
  color: var(--color-auxiliar);
}

.audio-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


/* QUESTION */
.answer-question {
  font-size: 28px;
  font-weight: 500;
  color: white;
}

/* INPUT */
.answer-input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-input-section label {
  font-weight: 500;
  color: var(--color-auxiliar);
}

.answer-input-section input {
  padding: 18px;
  border-radius: 12px;
  border: none;
  background: #f2f3f7;

  font-size: 16px;
  outline: none;
}

.answer-input-section input::placeholder {
  color: #9aa0b8;
}

/* FOOTER */
.answer-footer {
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  background: var(--color-secundario);
  color: white;
  border: none;

  padding: 12px 26px;
  border-radius: 8px;
  box-shadow: 5px 5px 0 #000;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.next-btn:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 0 black;
}

.next-btn:active {

    transform: translateY(2px);

}