@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swaphttps://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --color-primario: #a70702;
  --color-secundario: #040203;
  --color-auxiliar: #787373;
  --color-texto: #fff;
  --radio-borde: 6px;
  --sombra: 4px 4px 0 #000000;
  --margin-card: 12px;
}

body{
    margin: 0;
    background: radial-gradient(circle,#ededed 26%, rgb(0, 0, 0) 150%);
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header{
    width: 100%;
    display: flex;
    background-color: var(--color-primario);
    box-shadow: 0px 2px 8px black;
    padding-left: 15px;
    box-sizing: border-box;

}

header h1{
    font-family: "Saira", sans-serif;
    color: #fff;
}

nav{

    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--color-primario);
    padding: 10px;
    margin-left: auto;

}

nav a{
    
    font-family: "Saira", sans-serif;
    font-weight: bold;
    width: 100px;
    padding: 20px;
    text-align: center;
    background-color: var(--color-primario);
    text-decoration: none;
    color: white;
    border-radius: 8px;

}

@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav a:hover{

    background-color: var(--color-secundario);
    animation: fade 0.5s ease-in-out normal;

}